@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@500&display=swap");

:root {
  --success-color: #deefed;
}

body {
  font-family: "PT Sans", sans-serif;
}
h2 {
  font-family: "Rubik", sans-serif;
  margin: 0;
}

.alert-success {
  background-color: var(--success-color);
  border-color: var(--success-color);
  color: #171817;
}

.alert-success a {
  text-decoration: none;
  color: #171817;
}

.alert-success a:hover {
  cursor: pointer;
  text-decoration: underline;
}
